@import 'admin-tab.css';
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

body {
  font-family: Pretendard;
}

b,
strong {
  font-weight: 700;
}

.input-group-dropdown > .form-select {
  padding-right: 3.5rem;
  flex: none;
  width: auto;
}

.form-control:focus {
  box-shadow: none !important;
  border-color: #171a19 !important;
}

.card {
  padding: 1rem;
  box-shadow: none !important;
}

.card-block {
  padding-top: 1.25rem;
  padding: 0;
}

.pcoded .pcoded-navbar .pcoded-item > li > a:hover {
  color: #ff8031 !important;
}

.pcoded .pcoded-navbar[active-item-theme='theme1'] .pcoded-item li:hover > a {
  color: #ff8031 !important;
}

.pcoded[theme-layout='vertical'][vertical-nav-type='expanded']
  .pcoded-navbar
  .pcoded-item
  .pcoded-hasmenu
  .pcoded-submenu
  li
  .pcoded-submenu
  li
  > a:before {
  display: inline-block;
  position: absolute;
  left: 26px;
  top: 18px;
  content: '';
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #fff;
}

textarea {
  border-radius: 15px !important;
  padding: 0.5rem 2.25rem 0.5rem 1.5rem !important;
}

.sub-title {
  font-size: 24px !important;
  border-bottom: 0px;
}

.label-yellow {
  border-radius: 20px;
  border: 1px solid #ff8031;
  background: white;
  color: #ff8031 !important;
  margin: 1px 5px 1px 0;
  display: inline-block;
  font-size: 14px;
  text-transform: none;
}

.text-yellow {
  color: #ff8031 !important;
}

.btn {
  font-size: 14px;
  font-weight: 500;
  border-radius: 25px;
  line-height: 1.5;
}

.btn:not(.input-group-text) {
  min-width: 6rem;
}

input:disabled,
input[readonly] {
  background-color: #f3f3f3 !important;
}

.btn-gray {
  background: #f8f7f7;
  border-color: #f8f7f7;
  color: #ff8031;
}

.btn-gray:hover {
  background-color: #f1f1f1;
  border-color: #f1f1f1;
  color: #ff8031 !important;
}

.btn-delete {
  border-color: #585858;
  color: #585858;
}

.btn-delete:hover {
  background: #585858 !important;
  color: white !important;
}

.btn-transparent {
  border-color: #ff8031;
  color: #ff8031;
}

.btn-transparent:hover {
  background: #ff8031 !important;
  color: white !important;
}

.btn-transparent:hover > img {
  content: url('/files/assets/images/btn_plus2.png');
  padding-bottom: 3px;
  padding-right: 3px;
}

.plusIcon {
  content: url('/files/assets/images/btn_plus.png');
  padding-bottom: 3px;
  padding-right: 3px;
}

.form-control-round {
  padding: 0.5rem 2.25rem 0.5rem 1.5rem;
  font-size: 14px !important;
}

.border-checkbox-section .border-checkbox-group .border-checkbox-label:after {
  border-right: 0 !important;
  border-top: 0 !important;
}

.border-checkbox-section .border-checkbox-group .border-checkbox:checked + .border-checkbox-label:after {
  border-right: 2px solid white !important;
  border-top: 2px solid white !important;
}

.border-checkbox-section .border-checkbox-group .border-checkbox:checked + .border-checkbox-label:before {
  background: #ff8031;
  border-color: #ff8031;
}

.border-checkbox-section .border-checkbox-group-inverse .border-checkbox-label:before {
  border: 2px solid #ff8031;
}

.border-checkbox-section .border-checkbox-group .border-checkbox-label:before {
  border: 2px solid #acacac;
}

.radio .helper::before,
.radio .helper::after {
  border: 0.125rem solid #acacac !important;
}

.radio .helper::after {
  background-color: #acacac !important;
}

input[type='radio']:checked ~ .helper::after {
  transform: scale(0.5);
  background-color: #ff8031 !important;
  border-color: #ff8031 !important;
}

input[type='radio']:checked ~ .helper::before {
  border-color: #ff8031 !important;
}

.radio .helper::after {
  transform: scale(0.5);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #ff6200 !important;
  border-color: #ff6200 !important;
}

.file-open-btn {
  border: 1px solid #ff8031;
  position: absolute;
  background: #ff8031;
  right: 9px;
  top: 6px;
  height: 30px;
  width: 70px;
  border-radius: 15px;
  font-size: 0.8rem;
  color: white;
  font-weight: 400;
}

.pcoded .pcoded-navbar .pcoded-item .pcoded-hasmenu .pcoded-submenu li > a {
  font-weight: 400;
}

table.dataTable tbody tr {
  height: 60px;
}

table.dataTable td.dt-center,
table.dataTable td.dataTables_empty {
  vertical-align: middle;
}

div.dataTables_wrapper div.dataTables_info {
  width: auto;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  color: white !important;
  border-radius: 50%;
  border: none;
  background: #ff8031;
  outline-color: #ff8031;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  border: white !important;
  background: none !important;
  background-color: #ff8031 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: pointer !important;
  color: #666 !important;
  border: 1px solid transparent;
  background: transparent;
  box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  border-radius: 50%;
  color: white !important;
  border: 1px solid #ff8031;
  background: #ff8031;
  outline-color: #ff8031;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  cursor: pointer;
  display: inline-block;
  width: 34.5px;
  height: 34.5px;
  border-radius: 50%;
  background-color: #f3f3f3;
  text-align: center;
  box-sizing: border-box;
  margin: 0 2px 0 0;
  /*padding-top: 6px;*/
  color: #f3f3f3;
  padding: 0.4em 0em;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.next,
.dataTables_wrapper .dataTables_paginate .paginate_button.last {
  display: inline;
  color: #171a19;
  margin-right: 5px;
  border: none;
  outline-color: white;
  background: none;
  text-decoration: underline !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.next:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.last:hover {
  color: #404e67 !important;
  border: none;
  outline-color: white;
  background: none;
  text-decoration: underline;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.first:active,
.dataTables_wrapper .dataTables_paginate .paginate_button.previous:active,
.dataTables_wrapper .dataTables_paginate .paginate_button.next:active,
.dataTables_wrapper .dataTables_paginate .paginate_button.last:active {
  box-shadow: none;
  border: none !important;
  background: none !important;
  background-color: white !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous,
.dataTables_wrapper .dataTables_paginate .paginate_button.first {
  display: inline;
  color: #171a19;
  margin-left: 5px;
  border: none !important;
  outline-color: white;
  background: none;
  text-decoration: underline !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.first:hover {
  border: none;
  color: #404e67 !important;
  outline-color: white;
  background: none;
  text-decoration: underline;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: white !important;
  border: white !important;
  background: none !important;
  background-color: #ff8031 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  border: none;
  background: none !important;
  background-color: #ff8031 !important;
}

.dataTables_paginate {
  text-align: center !important;
  width: 100% !important;
}

.ck-content {
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.ck-toolbar {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  background-color: #f8f7f7 !important;
}

/* banner-wrap */
.banner-wrap {
  margin-top: 30px;
}

.banner-wrap .banner-select .banner-list {
  overflow: scroll;
  overflow-x: hidden;
  height: 510px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.banner-wrap .banner-select .banner-list .text-center {
  border: 1px solid #dee2e6;
  border-radius: 20px;
}

.banner-wrap .banner-select .banner-list .banner {
  display: flex;
  align-items: center;
  border: 1px solid #dee2e6;
  border-radius: 20px;
  padding: 20px 40px 20px 0px;
}

.banner-wrap .banner-select .banner-list .banner .banner-thumbnail {
  position: relative;
  width: 50%;
  border: 1px solid #dee2e6;
  border-radius: 20px;
}

.banner-wrap .banner-select .banner-list .banner .banner-thumbnail:after {
  display: block;
  content: '';
  padding-bottom: 100%;
}

.banner-wrap .banner-select .banner-list .banner .banner-thumbnail > img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  vertical-align: middle;
}

.banner-wrap .banner-select .banner-list .banner .banner-status.on > span:first-child {
  background-color: #ff803126;
  border-radius: 25px;
  font-size: 12px;
  padding: 4px 8px 4px 8px;
  color: #ff8031;
  font-weight: 700;
  line-height: 18px;
}

.banner-wrap .banner-select .banner-list .banner .banner-status.off > span:first-child {
  background-color: #f2f2f2;
  border-radius: 25px;
  font-size: 12px;
  padding: 4px 8px 4px 8px;
  color: #acacac;
  font-weight: 700;
  line-height: 18px;
}

.banner-wrap .banner-select .banner-list .banner .banner-status > span {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #acacac;
}

.banner-wrap .banner-area .banner-list {
  display: flex;
  flex-wrap: wrap;
}

.banner-wrap .banner-area .banner-list .banner {
  width: calc(50% - 15px);
}

.banner-wrap .banner-area .banner-list .nodata.banner {
}

.banner-wrap .banner-area .banner-list .banner:nth-child(odd) {
  margin-right: 15px;
}

.banner-wrap .banner-area .banner-list .banner:nth-child(even) {
  margin-left: 15px;
}

.banner-wrap .tit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ededed;
}

.banner-wrap .tit strong {
  font-size: 16px;
  color: #2c3e50;
}

.banner-wrap .banner-list .banner {
  margin-top: 30px;
}

.banner-wrap .banner-list .banner:first-child {
  margin-top: 0px;
}

.banner-wrap .banner-list .banner .stit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 24px;
}

.banner-wrap .banner-list .banner .stit span {
  font-size: 1.125rem;
  line-height: 1.625rem;
  font-weight: 700;
}

.banner-wrap .banner-select .banner-list .banner .banner-btn {
  float: right;
  justify-content: flex-end;
}

.banner-wrap .paging {
  margin-top: 30px;
}
.banner-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dee2e6;
  min-height: 250px;
  max-height: 250px;
  border-radius: 20px;
  overflow: hidden;
}

.banner-preview > img {
  height: 95%;
}

.banner-preview > thumbnail-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card.banner-card {
  min-height: 100%;
}

.card.banner-card .card-block-small {
  padding: 30px 30px;
}

.nodata {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  width: 100%;
  height: 150px;
  margin-top: 15px;
  color: #acacac;
  border: 0px !important;
}

.nodata p {
  margin-bottom: 0;
}

@media (max-width: 992px) {
  .banner-wrap .banner-select .banner-list .banner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #dee2e6;
    border-collapse: collapse;
    border-radius: 20px;
    padding: 0px 0px 20px 0px;
  }

  .banner-wrap .banner-select .banner-list .banner .banner-selecter {
    position: absolute;
    z-index: 1;
    text-align: right;
  }

  .banner-wrap .banner-select .banner-list .banner .banner-selecter > img {
    width: 38px;
    margin-top: 10px;
    margin-right: 10px;
  }

  .banner-wrap .banner-select .banner-list .banner .banner-btn-area {
    display: inline-block;
  }

  .banner-wrap .banner-select .banner-list .banner .banner-title {
    padding: 10px 20px 10px 10px;
  }

  .banner-wrap .banner-select .banner-list .banner .banner-radio-con {
    display: inline-block;
  }

  .banner-wrap .banner-select .banner-list .banner .btn {
    min-width: 74px;
    width: 74px;
  }

  .banner-wrap .banner-select .banner-list .banner .banner-thumbnail {
    position: relative;
    width: 100%;
    border: 0px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    border-radius: 0px;
    text-align: center;
  }

  .banner-wrap .banner-select .banner-list .banner .banner-thumbnail:after {
    display: block;
    content: '';
    padding-bottom: 75%;
  }

  .banner-wrap .banner-select .banner-list .banner .banner-thumbnail > img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15%;
    width: 70%;
    vertical-align: middle;
  }

  .banner-wrap .banner-select .banner-list .banner .banner-status {
    margin-top: 10px;
  }

  .banner-wrap .banner-select .banner-list .banner .banner-btn-area {
    width: 100%;
  }

  .banner-wrap .banner-select .banner-list .banner .banner-btn {
    max-width: 5rem;
    right: 33%;
    flex-wrap: unset;
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    margin-top: 0;
    margin-right: 10px;
    margin-left: 0;
  }

  .banner-wrap .banner-select .banner-list .banner .banner-btn > button:first-child {
    margin-right: 5px;
  }
  .banner-wrap .banner-select .banner-list .banner .banner-btn > button:last-child {
    margin-right: 10px;
  }

  .banner-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dee2e6;
    min-height: 200px;
    max-height: 200px;
    border-radius: 20px;
    overflow: hidden;
  }

  .banner-preview > img {
    height: 80%;
  }

  .banner-preview > thumbnail-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.form-group.required .col-form-label::after {
  content: ' *';
  color: red;
}

.sub-title.required strong::after {
  content: ' *';
  color: red;
  font-weight: 400;
}

.nice-select.form-select.form-control.custom-select.form-control-round.left-select {
  border-top-left-radius: 50px !important;
  border-bottom-left-radius: 50px !important;
}

.page-body table.dataTable.no-footer {
  border-bottom: 1px solid #d8d8d8;
}

table.dataTable thead th,
table.dataTable thead td {
  border-bottom: 2px solid #171a19;
}

.left-arrow-icon {
  display: inline-block;
  min-height: 20px;
  width: 10px;
  background-image: url('/files/assets/icon/simple-arrow-icon/left_arrow.png');
  background-size: cover;
  cursor: pointer;
}

.right-arrow-icon {
  display: inline-block;
  min-height: 20px;
  width: 10px;
  background-image: url('/files/assets/icon/simple-arrow-icon/right_arrow.png');
  background-size: cover;
  cursor: pointer;
}

table.dataTable tbody tr.selected > * {
  --dt-row-selected: #f8f7f7 !important;
  --dt-row-selected-text: 0, 0, 0 !important;
  background-color: #f8f7f7 !important;
}

.modal-body {
  padding: 2rem;
}

.modal-header {
  background: #ff8031;
  border-bottom: 0;
  color: white;
  border-top-left-radius: calc(1.3rem - 3px);
  border-top-right-radius: calc(1.3rem - 3px);
  padding: 1rem 1.2rem 1rem 1.6rem;
}

.modal-header .modal-title {
  font-size: 1.25rem;
}

.modal-content {
  border: 0;
  border-radius: 1.3rem;
}

.modal-footer {
  border: 0;
  justify-content: end;
}

.modal-content-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 26px;
  outline: 0;
}

.modal-content-2 .btn-close {
  color: #fff;
}

.modal-header-v2 {
  display: flex;
  color: #fff;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  background-color: #ff8031 !important;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.modal-footer-v2 {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  margin-bottom: 20px;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}

.dataTable .border-checkbox-section .border-checkbox-group .border-checkbox-label {
  margin: 0px;
  margin-top: 2px;
  margin-left: 8px;
}

.dt-center {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dt-center > .btn-gray:hover {
  background: #ff8031 !important;
  color: white !important;
}

.ord-up-arrow {
  background-image: url('/css/images/order-up-arrow.png');
}

.btn-close {
  background: url('/css/images/x-button.png') center/2em auto no-repeat;
  opacity: 1;
}

.btn-close:hover {
  opacity: 1;
}

.ord-down-arrow {
  background-image: url('/css/images/order-down-arrow.png');
}

.ord-up-btn {
  background-color: #333333;
  border-color: #333333;
  min-width: 0 !important;
}

.ord-down-btn {
  border-color: #d9d9d9;
  min-width: 0 !important;
}

.ord-up-arrow,
.ord-down-arrow {
  width: 12px;
  height: 8px;
  display: block;
  position: relative;
  left: 10px;
}

div.feedback-error {
  padding: 10px 10px 0 20px;
  color: #ff8031;
}

div.feedback-valid {
  padding: 10px 10px 0 20px;
  color: #01942a;
}

.card-header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header-flex > h4,
h5 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.comment-profile-image {
  display: inline-block;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  overflow: hidden;
}

.comment-profile-image img {
  width: 100%; /* 이미지를 부모 요소(.profile-image)에 맞게 조절 */
  height: auto; /* 이미지의 높이를 가로 비율에 맞게 자동 조절 */
}

.comment-writer-con {
  display: flex;
  align-items: center;
}

.comment-writer-con p {
  margin-bottom: 4px;
  margin-top: 4px;
  font-size: 16px;
  font-weight: 700;
}

.comment-content-con {
  display: flex;
  justify-content: space-between; /* 여기서 space-between을 사용하여 요소들을 양쪽 끝으로 푸시합니다. */
  align-items: center;
}

.comment-btn-con {
  margin-bottom: auto;
  width: max-content;
}

.comment-content p {
  width: 800px;
  font-size: 16px;
  font-weight: 500;
}

.comment-content .likeCon {
  display: inline-block;
  border-radius: 25px;
  padding: 2px 8px 2px 8px;
  width: max-content;
  border: 1px solid #d9d9d9;
  color: #acacac;
  font-weight: 500;
}
.comment-content .timeCon {
  margin-left: 10px;
  display: inline-block;
  width: max-content;
  color: #acacac;
  font-weight: 500;
}

.reply {
  padding: 20px 60px 20px 120px;
  background-color: #f8f7f7;
  margin-right: -60px;
  margin-left: -60px;
  border-top: 1px solid #d9d9d9;
}

.comment {
  padding: 20px 60px 20px 60px;
  margin-right: -60px;
  margin-left: -60px;
  border-top: 1px solid #d9d9d9;
}

.comment:first-child {
  border-top: none;
}

/* 세그먼트 컨트롤 */
.ss-sub-header {
  display: flex;
  margin-top: 30px;
}

.ss-segmeneted-control {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 20px;
  border: 1px solid #d9d9d9;
  border-radius: 9999px;
}

.ss-segmeneted-control--active {
  background-color: black;
  color: white;
}

.ss-segmeneted-control:not(:last-child) {
  margin-right: 10px;
}

/* 대시보드 컨텐츠 */
.ss-dashboard-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  gap: 20px;
}

.ss-dashboard-grid-item.black {
  background-color: black;
  color: white;
}
.ss-dashboard-grid-item.white {
  border-radius: 60px;
  padding: 40px;
  background-color: white;
  color: black;
}

.ss-dashboard-grid-item:nth-child(1) {
  height: 120px;
}
.ss-dashboard-grid-item:nth-child(2) {
  height: 120px;
}
.ss-dashboard-grid-item:nth-child(3) {
  height: 120px;
}
.ss-dashboard-grid-item:nth-child(4) {
  height: 120px;
}

.ss-dashboard-grid-item:nth-child(5) {
  grid-column: 1/2;
  grid-row: 2/4;
}

.ss-dashboard-grid-item:nth-child(6) {
  grid-column: 2/4;
  grid-row: 2/4;
}

.ss-dashboard-grid-item:nth-child(7) {
  grid-column: 4/5;
  grid-row: 2/3;
  height: 330px;
}
.ss-dashboard-grid-item:nth-child(8) {
  grid-column: 4/5;
  grid-row: 3/4;
  height: 330px;
}
.ss-dashboard-grid-item:nth-child(9) {
  grid-column: 1/3;
  grid-row: 4/5;
  height: 420px;
}
.ss-dashboard-grid-item:nth-child(10) {
  grid-column: 3/5;
  grid-row: 4/5;
}

/* 1920에서 min width 385 유지 */
@media (max-width: 1935px) {
  .ss-dashboard-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto auto;
  }

  .ss-dashboard-grid-item:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 120px;
  }
  .ss-dashboard-grid-item:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
    height: 120px;
  }
  .ss-dashboard-grid-item:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/3;
    height: 120px;
  }
  .ss-dashboard-grid-item:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/3;
    height: 120px;
  }
  .ss-dashboard-grid-item:nth-child(5) {
    grid-column: 1/2;
    grid-row: 3/5;
    height: 100%;
  }
  .ss-dashboard-grid-item:nth-child(6) {
    grid-column: 1/3;
    grid-row: 5/6;
    height: 680px;
  }
  .ss-dashboard-grid-item:nth-child(7) {
    grid-column: 2/3;
    grid-row: 3/4;
    height: 330px;
  }
  .ss-dashboard-grid-item:nth-child(8) {
    grid-column: 2/3;
    grid-row: 4/5;
    height: 330px;
  }
  .ss-dashboard-grid-item:nth-child(9) {
    grid-column: 1/3;
    grid-row: 6/7;
    height: 420px;
  }
  .ss-dashboard-grid-item:nth-child(10) {
    grid-column: 1/3;
    grid-row: 7/8;
    height: 420px;
  }
}

@media (max-width: 1122px) {
  .ss-dashboard-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .ss-dashboard-grid-item:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 120px;
  }
  .ss-dashboard-grid-item:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3;
    height: 120px;
  }
  .ss-dashboard-grid-item:nth-child(3) {
    grid-column: 1/2;
    grid-row: 3/4;
    height: 120px;
  }
  .ss-dashboard-grid-item:nth-child(4) {
    grid-column: 1/2;
    grid-row: 4/5;
    height: 120px;
  }
  .ss-dashboard-grid-item:nth-child(5) {
    grid-column: 1/2;
    grid-row: 5/6;
    height: 100%;
  }
  .ss-dashboard-grid-item:nth-child(6) {
    grid-column: 1/2;
    grid-row: 6/7;
    height: 100%;
  }
  .ss-dashboard-grid-item:nth-child(7) {
    grid-column: 1/2;
    grid-row: 7/8;
    height: 100%;
  }
  .ss-dashboard-grid-item:nth-child(8) {
    grid-column: 1/2;
    grid-row: 8/9;
    height: 100%;
  }
  .ss-dashboard-grid-item:nth-child(9) {
    grid-column: 1/2;
    grid-row: 9/10;
    height: 100%;
  }
  .ss-dashboard-grid-item:nth-child(10) {
    grid-column: 1/2;
    grid-row: 10/11;
    height: 100%;
  }
}

/* 현황 요약 */
.status-summary {
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

.status-summary__title > div:first-child {
  font-size: 20px;
  font-weight: 700;
}

.status-summary__title > div:last-child {
  color: #acacac;
}

.status-summary__number-shift {
  display: flex;
  align-items: center;
  font-size: 42px;
}

.status-summary__number-shift.increase > div:first-child {
  display: flex;
  align-items: center;
  color: #01942a;
  font-size: 14px;
  border: 1px solid #01942a;
  border-radius: 9999px;
  padding: 0 8px;
  height: 24px;
  margin-right: 12px;
}

.status-summary__number-shift.decrease > div:first-child {
  display: flex;
  align-items: center;
  color: #ff8031;
  font-size: 14px;
  border: 1px solid #ff8031;
  border-radius: 9999px;
  padding: 0 8px;
  height: 24px;
  margin-right: 12px;
}

.status-summary__number-shift > div:first-child > svg {
  margin-left: 4px;
}

/* 방문현황 */
.visit-summary {
  display: flex;
  flex-direction: column;
}
.visit-summary > div:first-child {
  display: flex;
  align-items: center;
}
.visit-summary > div:first-child > div:first-child {
  font-size: 24px;
  font-weight: 600;
  margin-right: 10px;
}

.visit-summary > div:first-child > div:last-child {
  font-size: 14px;
  color: #acacac;
}

.visit-summary > div:nth-child(2) {
  background-color: #40bd2b12;
  width: 230px;
  height: 230px;
  align-self: center;
  border-radius: 9999px;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.visit-summary > div:nth-child(2) > div:nth-child(1) {
  color: #01992a;
  font-size: 14px;
  font-weight: 600;
}
.visit-summary > div:nth-child(2) > div:nth-child(2) {
  font-size: 42px;
  margin-top: 14px;
  margin-bottom: 20px;
  line-height: 36px;
}

.visit-summary > div:nth-child(2) > div:nth-child(3) {
  display: flex;
  align-items: center;
  color: white;
  font-size: 14px;
  border-radius: 9999px;
  padding: 0 8px;
  height: 24px;
  background-color: #40bd2b;
}
.visit-summary > div:nth-child(2) > div:nth-child(3) > svg {
  margin-left: 4px;
}

.visit-summary > ul > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 300;
  height: 40px;
  border-bottom: 1px solid #acacac;
  margin-top: 12px;
}

.visit-summary > ul > li > div:last-child {
  font-size: 24px;
  font-weight: 400;
}

.visit-summary > ul > li > div:last-child > b {
  font-size: 14px;
  font-weight: 500;
}

/* 분양현황 */
.adoption-summary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.adoption-summary-header > div:first-child {
  display: flex;
  align-items: center;
}

.adoption-summary-header > div:first-child > div:first-child {
  font-size: 24px;
  font-weight: 600;
  margin-right: 10px;
}

.adoption-summary-header > div:first-child > div:last-child {
  position: relative;
  display: flex;
  align-items: center;
}

.adoption-summary-header > div:first-child > div:last-child > input {
  border: 1px solid #d9d9d9;
  border-radius: 9999px;
  width: 120px;
  height: 40px;
  font-size: 18px;
  font-weight: 600;
  padding-left: 16px;
}

.adoption-summary-header > div:first-child > div:last-child > input:read-only {
  background-color: white !important;
}

.adoption-summary-header > div:first-child > div:last-child > svg {
  position: absolute;
  right: 16px;
}

.adoption-summary-header > div:last-child {
  display: flex;
  align-items: flex-end;
  margin-top: auto;
}

.adoption-summary-header > div:last-child > div {
  font-size: 16px;
  color: #acacac;
  font-weight: 300;
  height: 28px;
  line-height: 100%;
}

.adoption-summary-header > div:last-child > div:not(:last-child) {
  margin-right: 30px;
}

.adoption-summary-header > div:last-child > .active {
  font-weight: 700;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.adoption-summary-header > div:last-child > .active::after {
  content: '';
  background: url(/css/images/sort_down.svg) no-repeat center;
  width: 10px;
  height: 6px;
  display: inline-block;
  margin-top: auto;
}

@media (max-width: 1122px) {
  .adoption-summary-header {
    flex-direction: column;
  }
  .adoption-summary-header > div:last-child {
    margin-top: 20px;
  }
}

.adoption-summary-chart {
  height: 292px;
  background-color: #f5f5f7;
  margin: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.adoption-summary-location > div:first-child {
  height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
}

.adoption-summary-location > div:last-child {
  display: flex;
}

.adoption-summary-location > div:last-child > div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 128px;
  min-height: 128px;
  width: 128px;
  height: 128px;
  border-radius: 9999px;
  background-color: #ff803112;
  color: #ff8031;
  font-size: 32px;
  font-weight: 500;
}
.adoption-summary-location ul {
  margin-left: 35px;
  width: 100%;
}

.adoption-summary-location li {
  display: flex;
  justify-content: space-between;
  height: 38px;
  border-bottom: 1px solid #acacac;
  line-height: 26px;
}

.adoption-summary-location li:not(:last-child) {
  margin-bottom: 12px;
}

.adoption-summary-location li > div:first-child {
  display: flex;
}

.adoption-summary-location li > div:first-child > span {
  width: 20px;
  color: #ff8031;
  font-weight: 500;
}

/* 회원가입, 발송현황 */
.reg-delivery-summary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.reg-delivery-summary > div:first-child {
  display: flex;
  align-items: center;
}
.reg-delivery-summary > div:first-child > div:first-child {
  font-size: 24px;
  font-weight: 600;
  margin-right: 10px;
}

.reg-delivery-summary > div:first-child > div:last-child {
  font-size: 14px;
  color: #acacac;
}
.reg-delivery-summary > ul > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 300;
  border-bottom: 1px solid #acacac;
  margin-top: 12px;
  padding-bottom: 16px;
}

.reg-delivery-summary > ul > li > div:first-child {
  font-size: 14px;
  font-weight: 600;
  color: #585858;
  background-color: #171a1905;
  border-radius: 9999px;
  padding: 8px 12px;
}

.reg-delivery-summary > ul > li > div:last-child {
  font-size: 36px;
  font-weight: 400;
}

.reg-delivery-summary > ul > li > div:last-child > b {
  font-size: 16px;
  font-weight: 500;
}

/* 최근게시물 */
.latest-post-header,
.latest-post-header > div:first-child {
  display: flex;
  align-items: center;
}

.latest-post-header {
  justify-content: space-between;
  margin-bottom: 30px;
}

.latest-post-header > div:first-child > div:not(:last-child) {
  margin-right: 20px;
}

.latest-post-board-type {
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
  color: #d8d8d8;
  cursor: pointer;
}

.latest-post-board-type.active {
  color: black;
}

.latest-post-refresh {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  color: #ff8031;
  padding: 4px 8px;
  border: 1px solid #ff8031;
  border-radius: 9999px;
  cursor: pointer;
}

.latest-post-more {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 24px;
  vertical-align: middle;
  cursor: pointer;
}

.latest-post-more > span {
  margin-right: 5px;
}

.latest-post-content {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.latest-post-card {
  min-width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-right: 10px;
}

.latest-post-card-img {
  width: 100%;
  height: 150px;
  background-color: #d9d9d9;
  margin-bottom: 16px;
  border-radius: 15px;
}

.latest-post-card > span {
  font-size: 14px;
  font-weight: 500;
  color: #acacac;
  margin-bottom: 4px;
}

.latest-post-card > p {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  min-width: 100%;
  word-wrap: break-word;
  word-break: keep-all;
}

.latest-post-card-tag-box {
  display: flex;
}

.latest-post-card-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  color: #ff8031;
  background-color: #f9f7f2;
  padding: 2px 10px;
  border-radius: 9999px;
  cursor: pointer;
}

.latest-post-card-tag:not(:last-child) {
  margin-right: 6px;
}

@media (max-width: 1122px) {
  .latest-post-more {
    display: none;
  }
  .latest-post-card-tag-box {
    display: none;
  }
}

/* 관리자게시판 */
.admin-board > ul {
  display: flex;
  flex-direction: column;
}

.admin-board > ul > li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d9d9d9;
  height: 58px;
}

.admin-board > ul > li:not(:last-child) {
  margin-bottom: 20px;
}
.admin-board > ul > li > div:first-child {
  display: flex;
  align-items: start;
  justify-content: start;
}

.admin-board-type {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: #ff8031;
  border: 1px solid #ff8031;
  border-radius: 9999px;
  width: 96px;
  height: 38px;
  margin-right: 20px;
}

.admin-board-type.completed {
  color: #49b537;
  border-color: #49b537;
}

.reply-complete {
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  padding: 2px 8px;
  color: #49b537;
  background-color: #38b02312;
  border-radius: 9999px;
  margin-left: 10px;
}

.admin-board-post > div:first-child {
  display: flex;
}

.admin-board-post > div:first-child > p {
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 0;
  display: flex;
}

.admin-board-post > span {
  color: #acacac;
  font-size: 14px;
  line-height: 100%;
  font-weight: 500;
}

.admin-board > ul > li > div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}
